body{
    overflow: hidden;

}
.bubble
{
    position: absolute;
    border-radius: 300px;
    background: red;
    animation: anim 8s forwards;
    opacity: 0;
    filter: hue-rotate(0deg);
}
@keyframes anim {
    to{
        top: -250px;
        left:var(--left);
         opacity: 1;
         filter: hue-rotate(720deg);
    }
}
